<footer id="site-footer">
 <div class="copyright">Copyright <a href="/" rel="nofollow">{{@blog.title}}</a> © <time class="copyright-date" datetime="{{date format="YYYY"}}">{{date format='YYYY'}}</time> • All rights reserved.</div>
 <div class="ghost-credit">Powered by <a class="icon-ghost" href="http://ghost.org" target="_blank">Ghost</a></div>
</footer>
