<div class="nav-menu">

  <ul id="slicknav">
    <li>
      <a href ="{{@blog.url}}/tag/game" class="tooltip" title="games" ><i class="icon-gamepad"></i></a>
    </li><br>
    <li>
      <a href ="http://www.github.com/travisirby" class="tooltip" title="github" target="_blank"><i class="icon-github-circled"></i></a>
    </li><br>
    <li>
      <a href ="http://www.twitter.com/travisirby" class="tooltip" title="twitter" target="_blank"><i class="icon-twitter"></i></a>
    </li><br>
    <li>
      <a href ="#x" class="tooltip" title="travisirby@gmail.com"><i class="icon-mail-alt"></i></a>
    </li><br>
  </ul>

</div>

<div class="nav-large">

  <ul>
    <li>
      <a href ="http://travisirby.net/tag/game" class="tooltip" title="games" ><i class="icon-gamepad"></i></a>
    </li>
    <li>
      <a href ="http://www.github.com/travisirby" class="tooltip" title="github" target="_blank"><i class="icon-github-circled"></i></a>
    </li>
    <li>
      <a href ="http://www.twitter.com/travisirby" class="tooltip" title="twitter" target="_blank"><i class="icon-twitter"></i></a>
    </li>
    <li>
      <a href ="#x" class="tooltip" title="travisirby@gmail.com"><i class="icon-mail-alt"></i></a>
    </li>
  </ul>

</div>
