<div class="nav-menu">

  <ul id="slicknav">
    <li>
      <a href ="#"><i class="icon-gamepad"></i></a>
    </li>
    <li>
      <a href ="http://www.github.com/travisirby" target=blank><i class="icon-github-circled"></i></a>
    </li>
    <li>
      <a href ="http://www.twitter.com/travisirby" target=blank><i class="icon-twitter"></i></a>
    </li>
    <li>
      <a href ="#"><i class="icon-mail-alt"></i></a>
    </li>
  </ul>


</div>
