$mainColor :  #AFC151; //#D4EB65 #D98C5E E9AF61 #AFC151 #C4ABCB
$darkerMainColor: darken($mainColor, 8%);
$darkestMainColor: darken($mainColor, 14%);
$lighterMainColor: lighten($mainColor, 8%);
$lightestMainColor: lighten($mainColor, 16%);

$textFont1 : 'Arimo', sans-serif;
$textColor1 : darken($mainColor, 50%);
$lighterTextColor1 : lighten($textColor1, 38%);
$lightestTextColor1 : lighten($textColor1, 50%);

$postBoxShadowHover: -10px 0px  0 $mainColor;

$postTitleBoxShadowHover: 0 -10px  0 $darkerMainColor,
             0 10px  0 $darkerMainColor,
             10px 0  0 $darkerMainColor,
             -10px 0  0 $darkerMainColor;

$postImageHoverSmall: translate3d(-10px, 0px, 0px) scale(1.18);

$postImageContainerHoverTransform: translate3d(-20px, 0px, 0px) scale(1.18);

$medium-width: 420px;
$large-width: 810px;

@mixin medium-screen {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: #{$large-width}) {
    @content;
  }
}
