@import "reset.css",
        "_settings",
        "susy",
        "_tooltipster-noir",
        "_slicknav",
        "_nav",
        "_posts",
        "_post-single";

$susy: (

  columns: 14,
  container: 850px,
  gutters: 0,
  container-position: center,
  global-box-sizing: border-box,
  use-custom breakpoint: true
);

.container {

  @include container;
}

.top-bar {

  position: fixed;
  max-width: 790px;
  background-color: white;
  width: 100%;
  box-shadow: 0 5px 0 $darkestMainColor;
  z-index: 10;

  @include large-screen{

    background-color: transparent;
    box-shadow: none;
    z-index: 1;

    @include span (3);
  }
}

.main-content {

  position: relative;
  z-index: 5;
  background-color: $mainColor;

  @include large-screen{

    @include span (11 last);
  }
}

#site-header {
  padding-bottom: 0px;
  float: left;
  letter-spacing: -1px;

  @include large-screen {

    margin: 0 0 10px 30px;
  }
}

#site-title {
  position: relative;
  z-index: 999;
  margin: 2px 0 0 0px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 175%;
  text-align: right;
  color: $lighterTextColor1;

  @include large-screen {

    padding: 2px;
    margin: 10px 0 0 0;
  }
}

#site-description {

  background-color: $mainColor;
  width: 106px;
  margin-left: 5px;
  padding: 1px;
  color: white;
  font-size: 92%;
  text-align: center;
  font-weight: bold;
}

#logo {

  float:left;
  background-color: white;
  padding: 2px 5px 0 5px;

  @include large-screen {

    margin-top: 13px;
    margin-right: 5px;
    padding: 0;
  }
}

main {

  clear:both;
}

body {

  font-family: $textFont1;
  color: $textColor1;
}

a {

  &:link {

    color: $textColor1;
    text-decoration: none;
  }

  &:visited {

    color: $textColor1;
  }
}

br.clear {

  clear: both;
}
