@import url(reset.css);
.tooltipster-noir {
  border-radius: 0px;
  border: 8px solid #cbd68d;
  background: #869535;
  color: white; }

.tooltipster-noir .tooltipster-content {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  padding: 8px 10px; }

/*
    Mobile Menu Core Style
*/
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 2px 2px 0 10px;
  line-height: 1.125em;
  cursor: pointer; }

.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left; }

.slicknav_menu .slicknav_icon {
  float: left;
  margin: 7px 7px 0 7px; }

.slicknav_menu .slicknav_no-text {
  margin: 0; }

.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.325em;
  height: 0.225em; }

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em; }

.slicknav_nav {
  clear: both; }

.slicknav_nav ul,
.slicknav_nav li {
  display: block; }

.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em; }

.slicknav_nav .slicknav_item {
  cursor: pointer; }

.slicknav_nav .slicknav_row {
  display: block; }

.slicknav_nav a {
  display: block; }

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  display: inline; }

.slicknav_menu:before,
.slicknav_menu:after {
  content: " ";
  display: table; }

.slicknav_menu:after {
  clear: both; }

/* IE6/7 support */
.slicknav_menu {
  *zoom: 1; }

/*
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/
.slicknav_menu {
  z-index: 99;
  font-size: 150%;
  top: 0;
  right: 0;
  position: fixed; }
  @media (min-width: 420px) {
    .slicknav_menu {
      display: none; } }

/* Button */
.slicknav_btn {
  text-decoration: none;
  padding-bottom: 15px;
  margin-bottom: 2px;
  color: black; }

/* Button Text */
.slicknav_menu .slicknav_menutxt {
  display: none; }

/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #9aac3d; }

.slicknav_nav li {
  background-color: #AFC151;
  float: left;
  text-align: center;
  border-width: 0 5px 5px 5px;
  border-style: solid;
  border-color: #869535; }
  .slicknav_nav li a {
    color: white;
    font-size: 120%;
    font-weight: bold; }
  .slicknav_nav li:hover {
    background: #bdcc6f;
    color: #fff; }

.slicknav_nav, .slicknav_nav ul {
  list-style: none;
  overflow: hidden; }

.slicknav_nav .slicknav_row {
  padding: 5px 10px;
  margin: 2px 5px; }

.slicknav_nav a {
  padding: 5px 10px;
  margin: 2px 5px;
  text-decoration: none;
  color: #fff; }

.slicknav_nav a:hover {
  color: #869535; }

.slicknav_nav .slicknav_txtnode {
  margin-left: 15px; }

.nav-large {
  display: none;
  float: right;
  min-width: 30%; }
  @media (min-width: 420px) {
    .nav-large {
      display: block; } }
  @media (min-width: 810px) {
    .nav-large {
      float: left;
      clear: both;
      margin: 10px 0 0 30px;
      max-width: 100px; } }
  .nav-large li {
    display: inline;
    font-size: 215%;
    list-style: none; }
    .nav-large li a {
      color: white;
      padding: 5px;
      box-shadow: 3px 0 0 #869535, 0 3px 0 #869535; }
      @media (min-width: 420px) {
        .nav-large li a {
          background-color: #AFC151; } }
      .nav-large li a:hover {
        color: #727f2d;
        background-color: #cbd68d;
        box-shadow: 3px 0 0 #9aac3d, 0 3px 0 #9aac3d; }
      .nav-large li a:last-child {
        float: right;
        margin-right: 0; }
      @media (min-width: 810px) {
        .nav-large li a {
          padding: 10px;
          margin: 2px 3px 1px 3px; } }

.posts-col-left {
  float: left;
  width: 33.33333%; }

.posts-col-right {
  float: left;
  width: 66.66667%; }

.posts-col-full {
  float: left;
  width: 100%; }

.post {
  white-space: normal;
  background-color: #d3dda0;
  font-size: 110%;
  margin-bottom: 10px; }
  .post:first-child {
    padding-top: 50px; }
    @media (min-width: 810px) {
      .post:first-child {
        padding: 0; } }
  .post a:link {
    color: white; }
  .post a:visited {
    color: white; }

.post-header {
  padding: 10px 0 10px 0; }
  .post-header:hover .post-title {
    box-shadow: 0 -10px 0 #869535, 0 10px 0 #869535, 10px 0 0 #869535, -10px 0 0 #869535;
    background-color: #869535; }

.post-title {
  padding: 5px 5px 5px 10px;
  background-color: #9aac3d;
  line-height: 1em;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 -10px 0 #9aac3d, 0 10px 0 #9aac3d, 10px 0 0 #9aac3d, -10px 0 0 #9aac3d; }

.post-excerpt {
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  line-height: 1.4em;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 95%;
  margin: 0 10px 10px 10px; }

.post-image-container {
  height: 200px;
  overflow: hidden; }

.post-content-single {
  background-color: #d3dda0;
  overflow: hidden; }
  .post-content-single p {
    padding: 10px; }
  .post-content-single a {
    font-weight: bold; }
  .post-content-single ul {
    padding: 10px; }
  .post-content-single img {
    max-width: 97%; }
  @media (min-width: 810px) {
    .post-content-single {
      margin: 10px; } }

.post-title-single {
  background-color: #a4b741;
  color: white;
  font-size: 140%;
  font-weight: bold;
  padding: 10px;
  margin-top: 70px;
  box-shadow: 20px 0 0 #cbd68d, -20px 0 0 #cbd68d, 0 10px 0 #bdcc6f, 0 -10px 0 #bdcc6f; }
  @media (min-width: 810px) {
    .post-title-single {
      margin: 0; } }

.post-date-single {
  float: right;
  background-color: #bdcc6f;
  color: #0d0e05;
  font-size: 90%;
  margin-right: 15px;
  padding: 5px; }

.post-content {
  padding: 10px;
  margin-top: 10px;
  line-height: 1.5em; }
  .post-content > * {
    width: auto;
    padding: 10px; }
    .post-content > *:first-child {
      margin-top: 15px; }
    .post-content > *:nth-child(odd) {
      background: #dfe7ba; }

.container {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.top-bar {
  position: fixed;
  max-width: 790px;
  background-color: white;
  width: 100%;
  box-shadow: 0 5px 0 #869535;
  z-index: 10; }
  @media (min-width: 810px) {
    .top-bar {
      background-color: transparent;
      box-shadow: none;
      z-index: 1;
      width: 21.42857%;
      float: left; } }

.main-content {
  position: relative;
  z-index: 5;
  background-color: #AFC151; }
  @media (min-width: 810px) {
    .main-content {
      width: 78.57143%;
      float: right;
      margin-right: 0; } }

#site-header {
  padding-bottom: 0px;
  float: left;
  letter-spacing: -1px; }
  @media (min-width: 810px) {
    #site-header {
      margin: 0 0 10px 30px; } }

#site-title {
  position: relative;
  z-index: 999;
  margin: 2px 0 0 0px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 175%;
  text-align: right;
  color: #8d9d38; }
  @media (min-width: 810px) {
    #site-title {
      padding: 2px;
      margin: 10px 0 0 0; } }

#site-description {
  background-color: #AFC151;
  width: 106px;
  margin-left: 5px;
  padding: 1px;
  color: white;
  font-size: 92%;
  text-align: center;
  font-weight: bold; }

#logo {
  float: left;
  background-color: white;
  padding: 2px 5px 0 5px; }
  @media (min-width: 810px) {
    #logo {
      margin-top: 13px;
      margin-right: 5px;
      padding: 0; } }

main {
  clear: both; }

body {
  font-family: "Arimo", sans-serif;
  color: #0d0e05; }

a:link {
  color: #0d0e05;
  text-decoration: none; }
a:visited {
  color: #0d0e05; }

br.clear {
  clear: both; }

/*# sourceMappingURL=style.css.map */
